<div class="container" style="margin-top: 67px;">

    <br>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between">
            <h4> Your Cart</h4>


            <div class="label float-right" for="customSwitch1">Amount </div>

        </div>
    </div>
    <div class="row flex-row flex-nowrap horizontal-scroll">

        <div class="col-sm">

            <div class="card flex-row flex-nowrap" *ngFor='let item of filterMenuForCart(selectedCounter)'
                style="width: 100%; margin: 10px 0 10px;">
                <img src="{{item.thumb}}" class="card-img-top" alt="...">
                <div class="card-body ">
                    <div class="d-flex justify-content-between">
                        <h6 class="card-title">{{item.name}}</h6>
                        <div class=" float-right">₹ {{item.price*item.onCart}} </div>
                    </div>

                    <p class="card-text"><small class="text-muted">{{item.counter}} </small></p>
                    <p class="card-text"><small class="text-muted"> <i class="fa fa-clock-o" aria-hidden="true"> </i>
                            {{item.waitingTime}} </small></p>

                </div>

                <div class="btn-group bottom-left" role="group" aria-label="Basic example">
                    <button type="button" class="btn btn-secondary " (click)="addToCart(item.id)"
                        style="padding-top: 0;">+</button>
                    <button type="button" class="btn btn-secondary"
                        style="padding-top: 0;color: black;padding-top: 0;background-color: white;">{{item.onCart}}</button>
                    <button type="button" class="btn btn-secondary" (click)="removeFromCart(item.id)"
                        style="padding-top: 0;">-</button>
                </div>
            </div>

        </div>


    </div>
    <div class="row">
        <div class="col-lg-12 d-flex justify-content-between">
            <h4> Total</h4>


            <h4 class=" float-right" for="customSwitch1">₹ {{menuItemService.totalPrice}} </h4>

        </div>
    </div>
</div>

<nav *ngIf="menuItemService.itemsCount>0" class="navbar fixed-bottom" style="background-color: beige;  box-shadow: 0px 8px 20px 3px #000;
    ">
    <div class="container">
        <div class="form-check disabled">
            <input type="checkbox" class="form-check-input disabled" id="payment" checked>
            <label class="form-check-label" for="payment">Pay from wallet</label>
        </div>
        <a> <button type="button" class="btn btn-secondary float-right" style="padding-top: 0;background-color:#436d6b;"
                (click)="checkout()">Place Order</button></a>
    </div>
</nav>