<nav class="navbar  fixed-top navbar-dark " style="background-color: #436d6b!important;">
  <div class=" " (click)=" gotoHomePage()">

    <div class="">
      <i class="fa fa-eercast" style="color: #ffffff;font-size: 1.6em;" aria-hidden="true"></i>
      <!-- <fa-icon class="prefixIcon" [icon]="['fa','cutlery']"></fa-icon> -->
      <h4 class="navbar-brand">&nbsp;&nbsp;foōdie</h4>
    </div>

    <!-- needed to change hard é code -->
    <!-- hide on small devices -->

  </div>

  <i class="fa fa-ellipsis-v" style="color: #ffffff;font-size: 1.6em;" aria-hidden="true"></i>
</nav>
<!-- <app-home>
  </app-home> -->
<router-outlet></router-outlet>